*{
    font-family: sans-serif;
}
body{
    background-image: url(IMG/fondooo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
}
/* encabezado*/
header{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between ;
}

.titulo_responsive{  
    height: 50px;
    padding-bottom: 15px;
    font-size: 20px;
    display: flex;
    color: white;
    position: relative;
}

.titulo{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    background-color: rgb(250, 165, 38);
}
.titulo_responsive .titulo1{
    margin-top: 0;
    margin-bottom: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid rgb(250, 165, 38);
}
.fvalogo{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
    width: 500px;
}
.head_2{
    display: flex;

}
.head_2 a{
    text-decoration: none;
}
.registrar{
    margin-right: 15px;
    background-color: rgba(44, 44, 44, 0.842);
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
}
.registrar:hover{
    background-color: rgb(250, 165, 38);
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}
.head a{
    text-decoration: none; 
}
.redes{
    width: 35px;
    height: auto;
    margin-right: 20px;
    margin-top: -50px;
}
.iconofva{
    width: 70px;
    height: auto;
}
/* secciones*/
.secciones{
    width: 100%;
    display: flex;
    background: rgb(250, 165, 38);
    justify-content: space-between;
    height: 70px;
    position: fixed;
}
.secciones.active{
    top: 0;
    left: 0;
    padding: 0;
    height: 90px;

}
.descrip{
    display: flex;
    align-items: center;
}
.icono1{
    font-size: 35px;
    color: white;
    padding: 3px 35px;
}
.icono{
    font-size: 25px;
    color: white;
    padding: 3px;
}
.buscar{
    font-size: 20px;
    padding: 5px 10px;
    width: 150px;
    height: 25px;
    border-radius: 50px;
    border: 0.5px solid grey;
}
.search{
    padding: 5px;
    margin-left: -40px;
    background: rgb(250, 165, 38);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(250, 165, 38);
}
.search:hover{
    background: white;
    border: 1px solid white;
    transition: all .7s ease;
}
.icono:hover{
    color: red
}
.icono1:hover{
    color: red
}
/*menu hambuegesa*/
.nadvar{
    margin-top: -15px;
}
.nadvar a{ 
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    padding: 30px 10px;
    color: #ffffff;
    display: block;
}
.nadvar .a_1{
    color: rgb(250, 165, 38);
    background-color: rgb(255, 255, 255);
    transition: all .5s ease;
}
.nadvar a:hover{
    color: rgb(250, 165, 38);
    background-color: rgb(255, 255, 255);
    transition: all .5s ease;
}
.nadvar ul li{
    list-style: none;
    position: relative;
    float: left;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.menu i{
    font-size: 40px;
    cursor: pointer;
}
#menu{
    display: none;
}
.menu label{
    display: none;
}
/*css cuerpo*/
.contenido{
    display: flex;
    align-items: center;
}
.contenido .contenido_1{
    width: 15%;
}
.contenido .contenido_1 p{
    width: 80%;
    height: 10px;
    background-color: black;
    border-radius: 10px;
    margin: 10%;
}

.contenido .contenido_2{
    width: 70%;
    height: auto;
    overflow: hidden;

} 
.contenido .contenido_2 ul{
    display: flex;
    width: 300%;
    padding: 0;
    animation:slide 20s infinite alternate ease-in-out;    
}
.contenido .contenido_2 ul li{
    padding-top: 20px;
    width: 100%;
    list-style: none;
}
.contenido .contenido_2 img{
    width: 90%;
    padding: 5%;
}
@keyframes slide{
    0%{ margin-left: 0;}
    33%{ margin-left: 0;}

    34%{ margin-left: -100%;}
    66%{ margin-left: -100%;}

    67%{ margin-left: -200%;}
    100%{ margin-left: -200%;}
}
/*css concepto*/
.texto_resumen{
    width: 100%;
}
.concepto_fva{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 15px 0;
    margin: 30px 7%;
    background-color: rgba(255, 255, 255, 0.705);
}
.concepto_fva .lado{
    width: 90%;
    margin: 0 5%;
    height: 5px;
    background-color: black;
    border-radius: 30px;
}
.concepto_fva .fva_texto{
    width: 87%;
    margin: 25px 6.5%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 550;
}
/*CATEGORIA*/
.categoria{
margin-left: 12.5%;
    text-align: center;
    width: 75%;
    display: flex;
    justify-content: space-between;
    

    .herramienta{
        text-align: center;
        .herramienta-img{
            
            width: 220px;
        }

        .link-h{
            text-decoration: none;
            color: black;
            h2{
                margin-top: -3.5px;
                background-color: rgb(73, 73, 73);
                width: 200px;
                height: 50px;
                padding: 5px 10px;
            }
        }
    }
}
@media(max-width:850px){
    .categoria{
    margin-left: 7%;
    .herramienta{
        margin-left: 10px;
    }
    }

}

@media(max-width:800px){
    .categoria{
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
    
    }

}
/*css novedades*/
.titulonovedades{
    font-size: 15px;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.712);


    h3{
        padding-top: 15px;
        font-weight: 900;
    }
    p{
        margin-top: -15px;
        padding-bottom: 15px;
    }
}
.video-general{
    display: flex;
    width: 85%;
    margin: 2%;
    margin-left: 10%;
    .video-descripcion{
        width: 33%;
        .novedades{

            .p-texto{
                display: none;
        }
        }
    }   
}
.video-general .video-descripcion .novedades .new {
    width: 250px;

    .title{
        background-color: rgba(0, 0, 0, 0.795);
        color: white;
        margin-top: -3px;
        width: 240px;
        padding: 5px;
        text-align: center;
    }
}
@media(max-width:920px){
    .video-general{
        margin-left: 3%;
        .video-descripcion{
            margin-right: 5%;
        }
    }

}
@media(max-width:800px){
    .video-general{
        flex-direction: column;
        align-items: center;
        margin-left: -5%;
    }

}
/*css de pie de pagina*/
.pie_pagina .envio{
    color: white;
    text-align: center;
    height: 25px;
    background-color: rgb(250, 165, 38);
    margin: 0;
    padding: 5px; 
}
.secciones_pie{
    padding-bottom: 10px;
    background: grey; 
    display: flex;
    margin-bottom: 0;
    width: 100%;
}
.pie_pagina .secciones_pie .medio_izquierdo{
    display: flex;
    width: 50%;
}
.pie_pagina .secciones_pie .medio_izquierdo div{
    width: 50%;
}
.pie_pagina .secciones_pie .medio_derecho{
    display: flex;
    width: 50%;
}
.pie_pagina .secciones_pie .medio_derecho div{
    width: 50%;
}

.secciones_pie div h3{
    margin-left: 20px;
    font-size: 25px;
}
.seccion_ubicacion iframe{
    width: 200px;
    height: 200px;
    padding: 0 20px;
}

.secciones_pie div a .pagar1{
    width: 300px;
    height: 100px;
}
.secciones_pie div a .pagar2{
    width: 200px;
    height: 50px;
    margin-left: 20px;
}

.secciones_pie .seccion_redes #redes{
    text-decoration: none;
}
.secciones_pie .seccion_redes #redes i{
    font-size: 25px;
    padding: 0 5px;
    color: rgb(0, 0, 0);
}

.secciones_pie .seccion_redes #redes i:hover{
    color: rgb(66, 66, 66);
    font-size: 28px;
}
.secciones_pie .seccion_redes #redes .fa-facebook{
    margin-left: 15px;
}
.secciones_pie .seccion_contacto h3{
    margin-left: -3px;
}
/*mediaquery*/
@media(max-width:1000px){
    .secciones_pie{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pie_pagina .secciones_pie .medio_izquierdo{
        width: 100%;
    }
    .pie_pagina .secciones_pie .medio_izquierdo div{
        width: 50%;
        text-align: center;
    }
    .pie_pagina .secciones_pie .medio_derecho{
        width: 100%;
        text-align: center;
    }
    .pie_pagina .secciones_pie .medio_derecho div{
        width: 50%;
    }
    .nadvar a{ 
        font-size: 20px;
        padding:16px;
    }
    .name{
        display: flex;
        align-items: center;
        p{
            margin-left: 10px;
            font-size: 25px;
            font-weight:650;
        }
    }
    .secciones{
        height: 60px;
    }
    .menu label{
        display: initial;
        margin-left: 15px;
    }
    .menu .nadvar{
        width: 100%;
        position: absolute;
        margin-top: 290px;
        background-color: rgb(250, 165, 38);
        display: none;
    }
    .menu .nadvar ul li{
        width: 100%;
    }
    #menu:checked ~ .nadvar{
        display: initial;
    }
    .iniciar_sesion p{
        color: white;
        font-size: 25px;
    }

    .titulo_responsive .titulo{
        padding-top: 10px;
    }
}

@media(max-width:920px){
    header{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .head_2{
        width: 100%;
    }
    .head_2 .div-registro{
        width: 50%;
    }
    .head_2 .iniciar-sesion{
        width: 50%;
    }
    .head_2 .registrar2{
        margin-left: 40%;
        padding: 10px 40px;
    }
    .head_2 .iniciar-sesion .registrar1{
        margin-right: 20%;
        padding: 10px 40px;
    }
    .head_2 .iniciar-sesion .Siguenos, .redes{
        display: none;
    }

    .titulo{
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 10px;
        background-color: rgb(250, 165, 38);
        padding: 0 0;
    }

    .search{
        margin-right: 0;
    }

}
@media(max-width:600px){
    .fvalogo{
        width: 430px;
    }
    .titulo_responsive .titulo{
        font-size: 15px;
        width: 100%;
        text-align: center;
        padding: 10px 30px;
        margin-top: -5 px;
        margin-bottom: 10px;
    }
    .titulo_responsive .titulo1{
        display: none;
    }
    .pie_pagina .secciones_pie .medio_izquierdo{
        display: flex;
        flex-direction: column;
    }
    .pie_pagina .secciones_pie .medio_izquierdo div{
        width: 100%;
        text-align: center;
        padding:15px 0;
    }
    .pie_pagina .secciones_pie .medio_derecho{
        display: flex;
        flex-direction: column;
    }
    .pie_pagina .secciones_pie .medio_derecho div{
        width: 100%;
        padding:15px 0;
    }
    .head_2 .registrar2{
        margin-left: 35%;
        padding: 10px 15px;
    }
    .head_2 .iniciar-sesion .registrar1{
        margin-right: 15%;
        padding: 10px 15px;
    }
    .icono1{
        padding-right: 5px;
    }
    .icono2{
        margin-right:-23px;
    }
}

