*{
    font-family: sans-serif;
}
body{
    background-image: url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;}
/* encabezado*/
header{
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between ;
}

.titulo_responsive{  
    height: 50px;
    padding-bottom: 15px;
    font-size: 20px;
    display: flex;
    color: white;
    position: relative;
}

.titulo{
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    background-color: rgb(250, 165, 38);
}
.titulo_responsive .titulo1{
    margin-top: 0;
    margin-bottom: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid rgb(250, 165, 38);
}
.fvalogo{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
    width: 500px;
}
.head_2{
    display: flex;
}
.head_2 a{
    text-decoration: none;
}
.registrar{
    margin-right: 15px;
    background-color: rgba(44, 44, 44, 0.842);
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
}
.registrar:hover{
    background-color: rgb(250, 165, 38);
    color: rgb(255, 255, 255);
    transition: all 0.5s;
}
.head a{
    text-decoration: none; 
}
.redes{
    width: 35px;
    height: auto;
    margin-right: 20px;
    margin-top: -50px;
}
.iconofva{
    width: 70px;
    height: auto;
}
/* secciones*/
.secciones{
    width: 100%;
    display: flex;
    background: rgb(250, 165, 38);
    justify-content: space-between;
    height: 70px;
    position: fixed;
}
.secciones.active{
    top: 0;
    left: 0;
    background-color: rgb(250, 165, 38);
    padding: 0;
}
.descrip{
    display: flex;
    align-items: center;
}
.icono1{
    font-size: 35px;
    color: white;
    padding: 3px 35px;

    
}
.icono{
    font-size: 25px;
    color: white;
    padding: 3px;
}
.buscar{
    font-size: 20px;
    padding: 5px 10px;
    width: 150px;
    height: 25px;
    border-radius: 50px;
    border: 0.5px solid grey;
}
.search{
    padding: 5px;
    margin-left: -40px;
    background: rgb(250, 165, 38);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(250, 165, 38);
}
.search:hover{
    background: white;
    border: 1px solid white;
    transition: all .7s ease;
}
.icono:hover{
    color: red
}
.icono1:hover{
    color: red
}
/*menu hambuegesa*/
.nadvar{
    margin-top: -15px;
}
.nadvar a{ 
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    padding: 30px 10px;
    color: #ffffff;
    display: block;
}
.nadvar .a_1{
    color: rgb(250, 165, 38);
    background-color: rgb(255, 255, 255);
    transition: all .5s ease;
}
.nadvar a:hover{
    color: rgb(250, 165, 38);
    background-color: rgb(255, 255, 255);
    transition: all .5s ease;
}
.nadvar ul li{
    list-style: none;
    position: relative;
    float: left;
}
.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.menu i{
    font-size: 40px;
    cursor: pointer;
    margin-left: -10px;
}
#menu{
    display: none;
}
.menu label{
    display: none;
}
/* conteiner */
.conteiner-madre {
    margin: 1% 5%;
    margin-top: 80px;
}
.tex-1{
    background: rgba(255, 255, 255, 0.749); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, .3    );
    padding: 5px 20px;
    margin-bottom: 20px;
}
.conteiner-hijo{
    background: rgba(255, 255, 255, 0.145); 
    box-shadow: 0 25px 45px rgba(0, 0, 0, .8);
    padding: 1% 4%;
}
.herramientas{
    background: rgba(255, 255, 255, 0.84);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .8);
    padding: 1px;
    width: 50%;
    margin: 3px 3px 20px 3px;
    text-align: center;
    margin-left: 25%;
}
.conteiner-herramientas{
    display: flex;
    margin: 10px 0px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.conteiner-adaptador{
    background-color: #D9D9D9;
    padding: 15px;
    margin: 10px;
    width: 18%;
}
.adaptador img{
    width: 100%;
}
.mini-conteiner{
    background-color: #1D1D1D;
    color: white;
    text-align: center;
    padding: 5px 10px;
}
.p-2{
    color: rgb(231, 64, 64);
}
.conteiner-compras{
    background-color: white;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .8);
    border: solid 1px #8C8989;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.detalles{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    border-right: solid 1px #8C8989;
}

.compras{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-left: solid 1px #8C8989;
    width: 100%;
}
.fa-regular, .fa-solid {
    margin-right: 3px;
}
.p-3{   
    font-size: 13px;
}
.conteiner-madre-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}
.conteiner-btn{
    background: #FFA722;
    text-align: center;
    padding: 10px 45px;
    border-radius: 20px;

}
.conteiner-btn a{
    text-decoration: none;
    color: white;
}
/*mediaquery*/
@media(max-width:1050px){
    .secciones_pie{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .pie_pagina .secciones_pie .medio_izquierdo{
        width: 100%;
    }
    .pie_pagina .secciones_pie .medio_izquierdo div{
        width: 50%;
        text-align: center;
    }
    .pie_pagina .secciones_pie .medio_derecho{
        width: 100%;
        text-align: center;
    }
    .pie_pagina .secciones_pie .medio_derecho div{
        width: 50%;
    }
    .nadvar a{ 
        font-size: 20px;
        padding:13px;
    }
    .secciones{
        height: 60px;
    }
    .menu label{
        display: initial;
        margin-left: 15px;
    }
    .name{
        display: flex;
        align-items: center;
        p{
            margin-left: 5px;
            font-size: 20px;
            font-weight:650;
        }
    }
    .menu .nadvar{
        padding-top: 20px;
        width: 100%;
        position: absolute;
        margin-top: 290px;
        background-color: rgb(250, 165, 38);
        display: none;
    }
    .menu .nadvar ul li{
        width: 100%;
    }
    #menu:checked ~ .nadvar{
        display: initial;
    }
    .iniciar_sesion p{
        color: white;
        font-size: 25px;
    }

    .titulo_responsive .titulo{
        padding-top: 10px;
    }
}

@media(max-width:920px){
    header{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .head_2{
        width: 100%;
    }
    .head_2 .div-registro{
        width: 50%;
    }
    .head_2 .iniciar-sesion{
        width: 50%;
    }
    .head_2 .registrar2{
        margin-left: 40%;
        padding: 10px 40px;
    }
    .head_2 .iniciar-sesion .registrar1{
        margin-right: 20%;
        padding: 10px 40px;
    }
    .head_2 .iniciar-sesion .Siguenos, .redes{
        display: none;
    }

    .titulo{
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 10px;
        background-color: rgb(250, 165, 38);
        padding: 0 0;
    }

    .search{
        margin-right: 0;
    }

}
@media(max-width:600px){
    .fvalogo{
        width: 430px;
    }
    .titulo_responsive .titulo{
        font-size: 15px;
        width: 100%;
        text-align: center;
        padding: 10px 30px;
        margin-top: -5 px;
        margin-bottom: 10px;
    }
    .titulo_responsive .titulo1{
        display: none;
    }
    .pie_pagina .secciones_pie .medio_izquierdo{
        display: flex;
        flex-direction: column;
    }
    .pie_pagina .secciones_pie .medio_izquierdo div{
        width: 100%;
        text-align: center;
        padding:15px 0;
    }
    .pie_pagina .secciones_pie .medio_derecho{
        display: flex;
        flex-direction: column;
    }
    .pie_pagina .secciones_pie .medio_derecho div{
        width: 100%;
        padding:15px 0;
    }
    .head_2 .registrar2{
        margin-left: 35%;
        padding: 10px 15px;
    }
    .head_2 .iniciar-sesion .registrar1{
        margin-right: 15%;
        padding: 10px 15px;
    }
    .icono1{
        padding-right: 5px;
    }
    .icono2{
        margin-right:-23px;
    }
}
